<div class="col-md-2 p-0 shadow-sm ">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary w-100 m-0 sidebar h-100" >

        <div class="header">
            <span class="title">BookTracker</span>  
            <hr>
        </div>
        
        <div class="content">
            <a href="#">Tamamladığım Kitaplar</a>
            <a href="#" >Okumak İstediklerim</a>
            <a href="#">Kütüphanem</a>
        </div>
       
        <div class="footer">
           
        </div>

    </div>
</div>